html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #79756f;
  text-align: center;
  padding: .4rem;
  margin: 0em;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
}

h1 {
  text-align: center;
  font-family: "Bevan", serif;
  color: #fff;
  margin: .3em;
}

a {
  text-decoration: none;
  background-color: #713837;
  font-family: sans-serif;
  color: #fff;
  border-radius: .3em;
  padding: .75em;
}

ul li {
  list-style-type: none;
  display: inline-block;
}

ul {
  margin: 0em;
}

li {
  margin-bottom: 1.3em;
}

header a:hover {
  background-color: #f33;
}
